/******************************************
/* CSS
/*******************************************/

/* Box Model Hack */
*{
  box-sizing: border-box;
}

/******************************************
/* LAYOUT
/*******************************************/

.container {
  display: flex;
  flex-direction: row;
  min-height: 0 auto;
}

.card {
  margin: 1rem;
  height: 5rem;
  width: 3rem;
  border: 2px solid black;
  border-radius: 5px;
  background: beige;
}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
